

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;

    margin: 20px;
}

h1 {
    margin: 5vh 0 3vh 0;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

 p {
  
    font-size: 1.1em;
}



main, section {
    margin-left: 5vw;
    margin-right: 5vw;
}

hr {
    padding-top: 10vh;
    padding-bottom: 10vh;
    opacity: 0.5;
}

section h2 {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: 1.8em;
    font-weight: 700;
}

section p, .info p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.1em;
}
ul {
   
    padding: 0;
}

li {
    margin-bottom: 5px;
    
}
.contato li{
    list-style-type: none;
}

h2{
    text-align: center;
}

.modal-img{
    text-align: center;

}
