<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
    <link rel="stylesheet" href="../static/css/curriculum.css">
    <style>
        .habilidades {
            display: flex;
          
        }

        .habilidades li {
            margin-right: 10px;
            display: flex;
            flex-wrap: wrap;
        }
     
    </style>
</head>

<body>
<h1>{{ user_data['nome'] }}</h1>
<hr>
<header>
    <section>
    <ul class='contato'>
        <li>
           
            Email: {{ user_data['email'] }}
        </li>
            
            <li>Telefone: {{ user_data['telefone'] }}</li>
            <li>LinkedIn: {{ user_data['linkedin'] }}</li>
     
            <li>CEP: {{ user_data['cep'] }}</li>
            <li>Bairro: {{ user_data['bairro'] }}</li>
            <li>Cidade: {{ user_data['cidade'] }}</li>
            <li>Estado: {{ user_data['estado'] }}</li>
        </ul>
    </section>
</header>
   

    <section>
        <h2>Perfil</h2>   
         <hr>
        <p>{{ user_data['perfil'] }}</p>
    </section>

<br>
    <section>
        <h2>Objetivos e Educação</h2>
        <hr>
        <p>Objetivos: {{ user_data['objetivos'] }}</p>
        <p>Área de Interesse: {{ user_data['area'] }}</p>
        <h3>Formação</h3>
        <p>Instituição: {{ user_data['instituicao_ensino'] }}</p>
        <p>Nível: {{ user_data['nivel'] }}</p>
        <p>Período: {{ user_data['periodo'] }}</p>
        <p>Semestre: {{ user_data['semestre'] }}</p>
        <p>Curso: {{ user_data['curso'] }}</p>
    </section>


    <section>
    <h2>Habilidades Técnicas</h2>  
      <hr>
    <ul class="habilidades">
        {% for habilidade in user_data['habilidades'] %}
            <li>{{ habilidade }} /</li>
        {% endfor %}
    </ul>
</section>
</body>

</html>
